---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyAb9BlUnVrrTnZR-o528B6n-ApbAp2oWPI&part=snippet&q=dsadasfwe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 09 Aug 2023 15:11:43 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=dsadasfwe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eRLw1OovRKpOiw94zz16yfxD5bKAEQkonVmtModwb5oJKs0UcrzYJM13
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5188ac46f9d89b65c048e79e02f554ce"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24835'
      X-Ratelimit-Reset:
      - '1694008860'
      X-Server:
      - chameleon
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Wed, 09 Aug 2023 15:11:44 GMT
recorded_with: VCR 6.2.0
