---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyAb9BlUnVrrTnZR-o528B6n-ApbAp2oWPI&part=snippet&q=singapore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "2lGRXmK8YiW_IxHS26WTRSWSP_0",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 4,
            "resultsPerPage": 4
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "CeJqYVYtFpbHWACwmv8y1uR4hx8",
              "id": {
                "kind": "youtube#video",
                "videoId": "hIMNiggFUxs"
              },
              "snippet": {
                "publishedAt": "2023-08-06T13:51:02Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Singapore",
                "description": "Pictures: https://en.wikipedia.org/wiki/File:Malacca_Sultanate_en.svg ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/hIMNiggFUxs/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/hIMNiggFUxs/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/hIMNiggFUxs/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2023-08-06T13:51:02Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "4PaLt3wvQEIrL6UtnCcqVPWnUDg",
              "id": {
                "kind": "youtube#channel",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw"
              },
              "snippet": {
                "publishedAt": "2017-05-14T04:40:16Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "Mr History",
                [...]
